@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

html {
	scroll-behavior: smooth;
}

body {
	background: $bg-gradient;
	color: $base-white;
	font-family: $primary-font;
	//text-wrap: balance;
}

img {
	display: block;
}

a {
	color: $base-white;
}

