
html {
	scroll-behavior: smooth;
}

body {
	background: $bg-gradient;
	color: #fff !important;
	font-family: $primary-font;
	//text-wrap: balance;
}

img {
	display: block;
}

a {
	font-family: $primary-font;
	text-decoration: none;
	color: $base-white;
	transition: all ease-in .3s;
	&:hover {
		color: $base-blue;
	}
}
.separator {
	padding: 100px 0;
}

