// .header-inner {
// 	justify-content: space-between;
// }
.navigation {
	flex-grow: 1;
}
.navigation-links {
	margin-bottom: 0;
	li {
		list-style: none;
		&:last-child {
			margin-right: 60px;
		}
	}

}

.logo {
	display: flex;
	justify-content: center;
	padding: 22px 0;
	//max-width: 143px;
	//flex-grow: 1;
}

// .logo img {
// 	//max-height: 50px; /* Adjust as needed */
// }

.social-icons {
	display: flex;
	gap: 15px;
}

.social-icons a {
	display: block;
	width: 24px;
	height: 24px;
}

.social-icons img {
	width: 100%;
	height: 100%;
}


// .header {
// 	background-color: $bg-gradient;
// 	padding: 64px 124px;

// 	&__row {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 	}
// }

// .header__nav {
// 	@include tablet {
// 		display: none;
// 	}
// }