.header {
	background-color: $bg-gradient;
	padding: 64px 124px;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}