.icons-wrapper {
	display: flex;
	column-gap: 10px;
	}

.icon {
	fill: $base-white;
	stroke: transparent;
	max-width: 40px;
	height: auto;
	transition: all ease-in .3s;
	stroke-opacity: 0;
	&:hover {
		stroke: $base-blue;
		fill: $base-blue;
	}
}
	

.icon--heart-line {
	fill: rgb(241, 68, 131);
}

.icon--id-card-line {
	fill: rgb(51, 51, 51);
}
.icon--search-line {
	fill: rgb(28, 176, 80);
}

.icon--user-star {
	fill: rgb(26, 134, 235);
}

.icon--user {
	stroke: rgb(26, 134, 235);
	transition: all 0.2s ease-in;

	&:hover {
		stroke: rgb(17, 193, 90);
	}
}
