.programs {
    margin-top: 200px;
    &-item{
        //position: relative;
        margin-right: 10px;
        margin-bottom: 80px;
        &:last-child {
        margin-left: 0;
        //margin-bottom: 0;
       }
        &_main {
        //box-shadow: 0px 0px 53px 19px rgba(81, 27, 97, 0.11) inset;
        width: 555px;
        height: 630px;
        border: 1px solid $base-pink;
        border-radius: 30px;
        }
        @include media-breakpoint-down(lg) {
            margin-right: 0;
         }
    } 
    @include media-breakpoint-down(md) {
        display: none;
    }   
}

.programs-title {
    h2 {
        font-size: 120px;
        font-family: $logo-font;
        color: $base-blue;
        opacity: 0.5;
    }
}
.programs-subtitle {
    margin-bottom: 60px;
    padding-left: 90px;
    h4 {
        margin-bottom: 0;
        font-size: 40px;
    }
    svg {
        fill: $base-blue;
        margin-left: 30px;
    }
}

.main-inner {
    padding-left: 50px;
    padding-right: 144px;
    margin-top: 50px;
    font-size: 24px;
    h3 {
        margin-bottom: 0;
    }
    svg {
        cursor: pointer;
        stroke-opacity: 1;
        fill: none;
        stroke: #ffffff;
        &:hover {
            fill: none;
        }
    }

}

// ITEMS-BG

.programs-item:nth-child(1) .programs-item_main {
        background: url('../../img/programs/111.png')  0 0/cover no-repeat;
}

.programs-item:nth-child(2) .programs-item_main {
    background: url('../../img/programs/222.png')  0 0/cover no-repeat;
}

.programs-item:nth-child(3) .programs-item_main {
    background: url('../../img/programs/333.png')  0 0/cover no-repeat;
}

.programs-item:nth-child(4) .programs-item_main {
background: url('../../img/programs/444.png')  0 0/cover no-repeat;
}

.programs-item:nth-child(5) .programs-item_main {
    background: url('../../img/programs/555.png')  0 0/cover no-repeat;
}

.programs-item:nth-child(6) .programs-item_main {
background: url('../../img/programs/666.png')  0 0/cover no-repeat;
}

// DESCRIPTION
.programs-item_description {
    margin-top: 40px;
    padding: 10px 20px;
    width: 555px;
    height: 78px;
    border: 1px solid $base-pink;
    border-radius: 15px;
    p{
        font-weight: bold;
    }
    span {
        font-weight: lighter;
        opacity: 0.5;
    }
}

.program-item_expand{
    //display: none;
    position: relative;
    top: 92px;
    left: -8px;
    border-radius: 15px;
    min-width: 495px !important;
    height: 357px;
    background-color:rgb(219, 132, 233, 0.4);
    backdrop-filter: blur(5px);
    &-inner {
        font-size: 24px;
        //padding: 90px 40px;
        line-height: 112%;
        ul {
            padding: 0;
            margin: 0;
        }
    }
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.show {
    //display: flex;
    opacity: 1;
}



#two .program-item_expand-inner{
    padding-top: 20px;
}