.steps-subtitle {  
     h4 {
        margin-bottom: 60px;
        padding-left: 90px;
        margin-bottom: 0;
        font-size: 40px;
        @include media-breakpoint-down(md) {
            font-size: 20px;
            padding-left: 0;
            text-align: center;
        }
    }
    svg {
        fill: $base-blue;
        margin-left: 30px;
    }

}

.steps-item {
    position: relative;
    width: 216px;
    height: 123px;
    border: 1px solid #fff;
    border-radius: 15px;
    background: $bg-gradient;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
    @include media-breakpoint-down(md) {
        width: 240px;
        height: 53px;
        margin-right: 0;
        //flex: flex-wrap;
    }

}

.steps-item_inner {
    padding: 0 5px;
}



.num {
    margin-bottom: 0;
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    @include media-breakpoint-down(md) {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }  
}
.num_decription {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 107%;
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }   
}


.mt120-mb60 {
    margin-top: 120px;
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

// CRAZY MARGINS
.steps-item:nth-child(2) {
    margin-top: 52px;
    @include media-breakpoint-down(md) {
        margin-top: 10px;
    }
}
.steps-item:nth-child(3) {
    margin-top: 104px;
    @include media-breakpoint-down(md) {
        margin-top: 10px;
    }
}
.steps-item:nth-child(4) {
    margin-top: 156px;
    @include media-breakpoint-down(md) {
        margin-top: 10px;
    }
}
.steps-item:nth-child(5) {
    margin-top: 208px;
    @include media-breakpoint-down(md) {
        margin-top: 10px;
    }
}


// BUTTON


.steps-btn {
    width: 444px;
    height: 68px;  

    background-color: $base-pink;    
    border-radius: 10px;   

    transition: all .3s ease-in-out;
    cursor: pointer;

    @include media-breakpoint-down(md) {
    width: 240px;
    height: 40px;
    font-size: 12px;
    
    }
    span {
        color: $base-white;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }
    &:hover {
        background-color: #F1DFF6;
        span {
            color: $base-blue;
        }
    }
    &-box {
        margin-top: 60px;
        @include media-breakpoint-down(md) {
        margin-top: 20px;  
        }
    }
}  

.download-mob {
    margin-top: 24px;
    opacity: 0.5;
}

.download-desc {
    position: absolute;
    top: 140px;
    left: 0;
    opacity: 0.5;
}